@page "/products"
@inject IProductService productService;

<PageTitle>Products</PageTitle>

<ModuleTitle Title="Products" />

@if (products.Count > 0)
{
    <ProductList Products=products />
}
else
{
    <p><em>No Information to show</em></p>
}

@code
{
    private List<Product> products = new();

    protected override async Task OnInitializedAsync()
    {
        products = await GetProducts();
    }
    
    private async Task<List<Product>> GetProducts()
    {
        return await productService.Get();
    }

}